<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>正在查看员工界面</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap4/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/acc_rank.css" />
</head>
<body>
<div class="container">
    <div class="row text-center divc mt-5">
        <div class="col-12 p-3">
            <p class="d-flex justify-content-between"><span>正在修改薪资制度</span><span><a href="/loginout">退出登录</a></span></p>
        </div>
        <div class="col-lg-3 col-sm-12 p-lg-5">
            <p><a href="/index">查询个人资料</a></p>
            <p><a href="/checkpwd">更改登录密码</a></p>
            <p><a href="/paylist">查询本月工资条</a></p>
            <p><a href="/acc_paylist">查询所有员工薪资</a></p>
            <p><a href="/acc_payadd">录入本月员工薪资</a></p>
            <p><a href="/acc_rank">薪资制度</a></p>
        </div>
        <div class="col-lg-7 col-sm-12 pb-4 d-flex justify-content-center">
            <table cellspacing="0" cellpadding="20">
                <tr><td class="tde" colspan="3">底薪</td></tr>
                <%res.forEach((item,index)=>{%>
                <form action="/acc_rank/edu?id=<%=item.id%>" method="post" enctype="application/x-www-form-urlencoded">
                <tr>
                    <td class="tds"><%=item.education%></td>
                    <td><input type="number" name="edu_money" id="" class="form-control" value="<%=item.edu_money%>" min="0" /></td>
                    <td><input type="submit" name=""  value="提交" class="btn btn-primary"/></td>
                </tr>
                </form>
                <%})%>
                <tr><td class="tde" colspan="3">津贴</td></tr>
                <%result.forEach((item,index)=>{%>
                <form action="/acc_rank/sta?id=<%=item.id%>" method="post" enctype="application/x-www-form-urlencoded">
                <tr>
                    <td class="tds"><%=item.sta_name%></td>
                    <td><input type="number" name="sta_money" id="" class="form-control" value="<%=item.sta_money%>" min="0" /></td>
                    <td><input type="submit" name="" value="提交" class="btn btn-primary"/></td>
                </tr>
                </form>
                <%})%>
            </table>
        </div>
    </div>
</div>
</body>
</html>
